PORT=5000
MONGO_URI=mongodb+srv://mjsolutionsoftware:your_mongodb_password@mj-solution-indonesia.mudkbn2.mongodb.net/db_mjs_article?retryWrites=true&w=majority

# jwt
JWT_SECRET=your_jwt_secret_key_here

# cloudinary 
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password